"build-CSE new_project-Desktop_Qt_5_12_0_MinGW_64_bit-Debug/"
"build-CSE new_project-Desktop_Qt_5_12_0_clang_64bit-Debug/*"
"build-CSE\ new_project-Desktop_Qt_5_12_0_clang_64bit-Debug/"
"build-CSE new_project-Desktop_Qt_5_12_0_clang_64bit-Debug/*"
"build-CSE\ new_project-Desktop_Qt_5_12_0_clang_64bit-Debug/"
